@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0px;
  width: 100%;
  background-color: #f0f3f4;
  font-family: "Roboto", "Noto Sans KR", "PingFang SC", "Apple SD Gothic Neo",
    "Microsoft YaHei UI", "Malgun Gothic", sans-serif;
}
/* 최상단  */

#root {
  background-color: white;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  height: 100%;
  box-sizing: border-box;
  box-shadow: rgba(100, 100, 100, 0.2) 0px 0px 29px 0px;
  overflow: scroll;
  font-size: small;
}

.input-style {
  @apply w-full text-xs p-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-black transition-all duration-200;
}
